@import url("./fonts.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}


html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 70px;
}