@import url("./fonts.css");
*{
    direction: rtl;
    text-align: right;
}

.text-left{
    text-align: left;
}

.title-bar{
    background-color: #6f49f8;
    direction: rtl;
    text-align: right;
}

#content{
    height: 600px;
    border: 2px black solid;
}