@import url("./fonts.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

body{
    height: 100%;
    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

/* --- Modal Box --- */
.modal-box {
    background: #fff;
    width: 90%;
    max-width: 450px;
    padding: 25px;
    border-radius: 12px;
    text-align: right;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    animation: fadeIn 0.25s ease;
}

/* --- Title --- */
.modal-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* --- Close Button --- */
.modal-close-btn {
    background: #0066ff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    width: 100%;
}
li{
    list-style-type: none;
}
/* --- Fade animation --- */
@keyframes fadeIn {
  from { transform: scale(0.9); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}




.modal-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    margin-top: 15px;
}

.modal-body label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.modal-body input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

