*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

body{
    height: 100%;
    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

/* --- Modal Box --- */
.modal-box {
    background: #fff;
    width: 90%;
    max-width: 450px;
    padding: 25px;
    border-radius: 12px;
    text-align: right;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    animation: fadeIn 0.25s ease;
}

/* --- Title --- */
.modal-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* --- Close Button --- */
.modal-close-btn {
    background: #0066ff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    width: 100%;
}
li{
    list-style-type: none;
}
/* --- Fade animation --- */
@keyframes fadeIn {
  from { transform: scale(0.9); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

